.bell {
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: white;
  transform-origin: center;
}

.C { background-color: #FDE74C; }
.D { background-color: #9BC53D; }
.E { background-color: #5BC0EB; }
.G { background-color: #FA7921; }
.A { background-color: #9AB87A; }

.first {
  opacity: 0.7;
  transform: scale3d(1, 1, 1);
}
.gone {
  opacity: 0;
  transform: scale3d(100, 100, 100);
}
