.chime {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 5px;
}
.chime.remote {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border-width: 2px;
}

.C4 { border-color: #Fa2315; }
.G4 { border-color: #a723a5; }
.C5 { border-color: #266D75; }
.D5 { border-color: #40BCC9; }
.E5 { border-color: #8CF4FF; }

.first {
  opacity: 0.7;
  transform: scale3d(1, 1, 1);
}
.gone {
  opacity: 0;
  transform: scale3d(50, 50, 50);
}
