.ring, .light {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  opacity: 0;
  backface-visibility: hidden;
  overflow: visible;
}

.ring {
  border-width: 300px;
  border-style: solid;
  filter: blur(5px);
}
.ring.s1 { border-color: #0077be; }
.ring.s2 { border-color: #e7feff; }
.ring.s3 { border-color: #a2add0; }
.ring.s4 { border-color: #4682b4; }
.ring.s5 { border-color: #9bddff; }
.ring.s6 { border-color: #6495ed; }
.ring.s7 { border-color: #4997d0; }
.ring.s8 { border-color: #007bbb; }


.light {
  background-image: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
