.inner-chime {
  display: block;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  background-image: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);
}

.first {
  opacity: 1;
  transform: scale3d(0.1, 0.1, 0.1)
}
.expanded {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.gone {
  opacity: 0;
  transform: scale3d(0, 0, 0);
}
