.inner-chime {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-image: radial-gradient(
    circle farthest-side,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.inner-chime.remote {
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.first {
  opacity: 1;
  transform: scale3d(0.2, 0.2, 0.2)
}
.expanded {
  opacity: 1;
  transform: scale3d(60, 60, 60);
}
.gone {
  opacity: 0;
  transform: scale3d(0, 0, 0);
}
