:host {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;

  transition: all 0.1s ease-out;

  font-family: 'Josefin Slab', cursive;
  font-size: 7em;
  text-align: center;

  color: white;
  -webkit-text-stroke: 1px #666;
}

:host(.C4) { background-color: #00A0B0; }
:host(.G4) { background-color: #6A4A3C; }
:host(.C5) { background-color: #CC333F; }
:host(.D5) { background-color: #EB6841; }
:host(.E5) { background-color: #EDC951; }
